@tailwind components;
@tailwind utilities;

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

body {
    font-family: "Rubik", "Roboto", sans-serif;
    min-height: 100%;
    margin: 0 !important;
}

@keyframes slidedown {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
        transition: all 0.3s ease-out;
    }
}

:root {
    --transition-duration: 0.2s;
}

.card form {
    margin-top: 2rem;
}
.card .field {
    margin-bottom: 1.5rem;
}

.p-input-icon-left > .p-password > .p-inputtext {
    padding-left: 2.5rem;
}

.p-chips ul {
    border-width: 1px;
    width: 100%;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: #22c561 !important;
}

.layout-min-sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
    background: #fff;
    box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2),
        4px 0 5px 0 rgba(0, 0, 0, 0.14), 1px 0 10px 0 rgba(0, 0, 0, 0.12);
    transition: transform 0.2s, left 0.2s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.layout-content {
    transition: margin-left 0.2s;
}

.p-ripple {
    overflow: hidden;
    position: relative;
}

.slidedown {
    animation: slidedown 0.45s ease-in-out;
}

.slideup {
    animation: slideup 0.45s cubic-bezier(0, 1, 0, 1);
}

.custom-menu {
    left: 2rem !important;
}

@media screen and (min-width: 992px) {
    .layout-min-sidebar {
        z-index: 98;
    }
    .layout-sidebar-expand {
        width: 18rem;
    }
    .layout-content-expand {
        margin-left: 18rem;
    }
    .layout-sidebar-collapse {
        width: 6rem;
        transform: translateX(calc(-100% + 6rem));
    }

    .layout-content-collapse {
        margin-left: 6rem;
    }
}

.p-autocomplete-input {
    width: 100%;
    border-width: 1px;
}

.p-inputtext,
.p-dropdown,
.p-checkbox-box {
    border-width: 1px !important;
}

.p-timeline-event-marker {
    border: 2px solid #cc5500;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(204, 85, 0);
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(204, 85, 0);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 85, 0);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(204, 85, 0);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
}
